<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>

    <div class="jumbotron vertical-center mx-5">
        <h2>ClickForTrips Management Console</h2>
        <div class="container">
            <a href="customer" class="btn btn-dark btn-lg my-5">Show all Customers</a>
        </div>
        <div class="container">
            <a href="booking" class="btn btn-dark btn-lg my-5">Show all Bookings</a>
        </div>
    </div>

</body>
</html>