<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="/clickfortrips/static/css/indexStyles.css" rel="stylesheet"> <!-- Not working yet -->
    <title>Title</title>
    <style>
        html,body{
            background-image: url("/static/images/login_bg.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            height: 100%;
            overflow: visible;
        }

    </style>
</head>
<body>
<header th:insert="header.html :: header"> </header>
<div class="container">
    <br>
    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h2>
                <span th:if="${#authorization.expression('hasAuthority(''SCOPE_openid'')')}">
                    Welcome On Board <span sec:authentication="principal.fullName"></span>!
                </span>
            </h2>
        </div>
    </div>
    <br>
    <br>
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3>Your Information</h3>
            </div>

            <div class="card-body">

                <div id="userInfo"></div>

                <script>
                    // Function to fetch userinfo and update HTML content
                    function fetchUserInfo() {
                        // clickfortrips coming
                        fetch('/clickfortrips/userinfo')
                            .then(response => response.text()) // Parse the response as text
                            .then(data => {
                                // Update userinfo div with fetched data
                                document.getElementById('userInfo').innerHTML = data;
                            })
                            .catch(error => {
                                console.error('Error fetching userinfo:', error);
                            });
                    }

                    // Call fetchUserInfo function when the page loads
                    window.onload = fetchUserInfo;
                </script>

            </div>



        </div>
    </div>
</div>




<div align="center" class="jumbotron vertical-center mx-5">


    <br><br>


    <div class="container">
<!--        clickfortrips coming-->
        <a href="/clickfortrips/booking" class="btn btn-dark btn-lg my-5">Show all Bookings</a>
    </div>

</div>
</body>
</html>
